<html>
<table>
	<tr>
		<td><b><i>Name:</i></b></td>
		<td><%=@user_show.full_name%></td>
	</tr>
	<tr>
		<td><b><i>E_mail:</i></b></td>
		<td><%=@user_show.email%></td>
	</tr>
	<tr>
		<td><b><i>Model:</b></i></td>
		<td><%=@car_pertinente.model%></td>
	</tr>
	<tr>
		<td><b><i>Make:</b></i></td>
		<td><%=@car_pertinente.make%></td>
	</tr>
	<tr>
		<td><b><i>Initial_Odometer:</b></i></td>
		<td><%=@car_pertinente.initial_odometer%></td>
	</tr>
</table>
	
</html>