<%= form_for(@gas_new) do |f| %>
  <% if @gas_new.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gas_new.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @gas_new.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>